@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
.borderline,
.listitem {
  display: flex;
  align-items: center;
}

body,
.input,
button {
  width: 100%;
}

body {
  background-color: grey;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

body,
input,
button {
  font-family: 'Poppins', sans-serif;
}

main {
  width: 80%;
  background-color: #fff;
}

li {
  list-style: none;
}

.input,
button {
  border: none;
}

.input {
  height: 100%;
  padding-left: 2.5rem;
  transition: 0.5s;
  font-size: 0.9rem;
}

.borderline {
  border-bottom: solid #c4c2c2 1px;
  height: 4rem;
}

.italic {
  font-style: italic;
}

.startdrag {
  opacity: 30%;
}

.listitem {
  height: 4rem;
  border-bottom: solid #c4c2c2 1px;
}

i {
  position: relative;
  right: 1rem;
  color: #c4c2c2;
}

.check {
  position: absolute;
  margin-left: 1rem;
}

button {
  height: 4rem;
  background-color: rgb(206, 204, 204);
  color: #727171;
  font-size: 1rem;
}

.today {
  margin-right: auto;
  padding-left: 1rem;
}

i:hover {
  color: #333;
}

.trash {
  margin-left: 0.5rem;
}

.visibletrash {
  display: none;
}

.edited {
  color: rgb(104, 104, 177);
}

.checked {
  text-decoration: line-through;
}
